읍면동 이름을 찾아서 시군구가 무엇에 해당하는지 반환하는 함수

In [ ]:
import pandas as pd
import time

In [5]:
df = pd.read_excel("region_match.xlsx", engine="openpyxl")

In [6]:
df.head()

,구분,행정구역코드,1단계,2단계,3단계,격자 X,격자 Y,경도(시),경도(분),경도(초),위도(시),위도(분),위도(초),경도(초/100),위도(초/100),위치업데이트
0,kor,1100000000,서울특별시,NaN,NaN,60,127,126,58,48.03,37,33,48.85,126.980008,37.563569,NaN
1,kor,1111000000,서울특별시,종로구,NaN,60,127,126,58,53.91,37,34,13.36,126.981642,37.570378,NaN
2,kor,1111051500,서울특별시,종로구,청운효자동,60,127,126,58,14.35,37,35,2.89,126.970652,37.584137,NaN
3,kor,1111053000,서울특별시,종로구,사직동,60,127,126,58,15.44,37,34,23.77,126.970956,37.573269,NaN
4,kor,1111054000,서울특별시,종로구,삼청동,60,127,126,59,2.32,37,34,56.73,126.983978,37.582425,NaN

In [ ]:
def find_higher_region(area):
    """읍면동 정보를 입력받았을 때 시군구 정보를 반환해주는 함수"""
    start = time.time()
    
    first = df.loc[df["3단계"] == area, "1단계"]
    second = df.loc[df["3단계"] == area, "2단계"]
    first_value = first.iloc[0] if not first.empty else None
    second_value = second.iloc[0] if not second.empty else None
    
    end = time.time()
    print(f"실행시간: {end - start}")
    return first_value, second_value

In [26]:
print(find_higher_region("역삼1동"))
print(find_higher_region("삼송1동"))

실행 시간: 0.003713369369506836
('서울특별시', '강남구')
실행 시간: 0.003420591354370117
('경기도', '고양시덕양구')